@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p style="text-align: justify">I have Bachelor of Computer Engineering. I worked in many profit and nonprofit organizations. I became a member of Professional, Engineering, Leadership, Teamwork, and Awareness Camp, PELTAC, and worked in welfare department. 2011 I worked as Secretary of International Student Society, at UTM, and then he became the President of UTM International Student Society of one of the country chapters. 2014 I worked at Foxconn Indiana as Supplier Quality Engineer. 2014 I became IT assistant and Computer Teacher at MTI School of Knowledge. I am the founder and director of both Smart Teaching Institute, STI (online learning system), and RElSoft Technology Solution (CMS web developer company).</p>
